.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1 px !important;
  height: 1 px !important;
  padding: 0 !important;
  margin: -1 px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// https://getbootstrap.com/docs/5.1/helpers/visually-hidden/