.card--standard.card {
  &:hover {
    .card__img img {
      transform: scale(1.05);
    }
  }

  .card__header {
    &:focus-within ~ .card__img img {
      transform: scale(1.05);
    }
  }

  .card__img img {
    transition: transform 0.8s cubic-bezier(0.35, 0, 0, 1) 0s;
  }
}
