// TYPE: tip
@use 'sass:math';

.card--tip.card {
  flex-direction: row;
  flex-flow: row wrap;

  padding-top: $default-spacing;
  padding-bottom: $default-spacing;
  @include breakpoint($breakpoint-font-size-change) {
    padding-top: $default-spacing * 2;
    padding-bottom: $default-spacing * 2;
  }

  &:hover {
  }

  .card__header {
    width: 100%;
    order: 2;
  }
  .card__title {
    @extend .h3;
  }

  .card__img {
    order: 4;
    width: 40%;
    padding: $default-spacing;
    height: auto;
    display: flex;
    align-items: flex-start;

    img {
      position: static;
      max-height: 10ch;
      width: auto;
      height: auto;
      margin-left: auto;
      border-radius: $border-radius-base;
    }
  }

  .card__body {
    width: 60%;
    order: 3;
    color: $text-color-secondary-dark;
  }

  .card__cta {
    width: 100%;
    order: 5;
    margin-top: $default-spacing;
  }

  .card__footer {
    width: 100%;
    order: 6;
  }

  .card__tags {
    order: 1;
    margin-bottom: $default-spacing * 1.5;
  }
  .tag {
    @extend .text-pre-head;
  }

  .card__body,
  .card__footer {
    button,
    a {
    }

    .btn {
      margin-top: math.div($default-spacing, 2);
    }

    [class*='btn--text'] {
      // make sure buttons without a border or background visually vertically aligns with the surrounding text.
      padding-left: math.div($default-spacing, 2);
      padding-right: math.div($default-spacing, 2);
      margin-left: math.div(-$default-spacing, 2);
      margin-right: math.div(-$default-spacing, 2);
      margin-bottom: math.div(-$default-spacing, 2);

      + [class*='btn--text'] {
        margin-left: $default-spacing;
      }
    }
  }

  .card__header,
  .card__body,
  .card__footer,
  .card__cta,
  .card__tags,
  .card__img {
    padding-bottom: 0;
    padding-top: 0;
    @include breakpoint($breakpoint-font-size-change) {
      padding-left: $default-spacing * 2;
      padding-right: $default-spacing * 2;
    }
  }
}
