@import '../mixins/utilities';
@import '../variables/borders';

$utilities: (
  'border': (
    'prefix': 'border',
    'values': (
      null: $border-width-base solid currentColor,
      '0': 0,
      'none': none,
    ),
  ),
  'border-top': (
    'prefix': 'border-top',
    'values': (
      null: $border-width-base solid currentColor,
      '0': 0,
      'none': none,
    ),
  ),
  'border-bottom': (
    'prefix': 'border-bottom',
    'values': (
      null: $border-width-base solid currentColor,
      '0': 0,
      'none': none,
    ),
  ),
  'border-left': (
    'prefix': 'border-left',
    'values': (
      null: $border-width-base solid currentColor,
      '0': 0,
      'none': none,
    ),
  ),
  'border-right': (
    'prefix': 'border-right',
    'values': (
      null: $border-width-base solid currentColor,
      '0': 0,
      'none': none,
    ),
  ),
  'border-radius': (
    'prefix': 'rounded',
    'values': (
      null: $border-radius-base,
      'small': $border-radius-small,
      'large': $border-radius-large,
    ),
  ),
);

@include generate-utilities($utilities);
