input[type='color'] {
  cursor: pointer;

  // Wrapper
  @mixin color-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch-wrapper {
    @include color-wrapper;
  }

  &::-moz-focus-inner {
    @include color-wrapper;
  }

  // Swatch
  @mixin color-swatch {
    border: none;
    border-radius: calc($border-radius-base * 0.5);
  }

  &::-webkit-color-swatch {
    @include color-swatch;
  }

  &::-moz-color-swatch {
    @include color-swatch;
  }
}

input[type='color'].color-dot {
  padding: 0;
  height: $min-touch-target-size;
  width: $min-touch-target-size;

  // Swatch
  &::-webkit-color-swatch {
    border-radius: $border-radius-base;
  }
  &::-moz-color-swatch {
    border-radius: $border-radius-base;
  }

  &--round {
    border-radius: 50%;
    // Swatch
    &::-webkit-color-swatch {
      border-radius: 50%;
    }
    &::-moz-color-swatch {
      border-radius: 50%;
    }
  }
}
