// generates responsive grid gutter spacings for properties
// @include useGridSpacing(margin-bottom, margin-top);
@mixin useGridSpacing($properties...) {
  @for $i from 0 to length($properties) {
    #{nth($properties, $i + 1)}: $grid-gutter;
  }

  @include breakpoint(xs) {
    @for $i from 0 to length($properties) {
      #{nth($properties, $i + 1)}: $grid-xs-gutter;
    }
  }
  @include breakpoint(sm) {
    @for $i from 0 to length($properties) {
      #{nth($properties, $i + 1)}: $grid-sm-gutter;
    }
  }
}

// generates styles used for container sizes and padding
// @include makeContainer($container-width);
@mixin makeContainer($size: null) {
  margin-left: auto;
  margin-right: auto;
  padding-left: $default-spacing;
  padding-right: $default-spacing;

  @if $size != null {
    max-width: $size;
  }
}
