html {
  //   TODO: background-color: $black; // seen when overscrolling the page on IOS. Apparently only works with solid colors?
  // can't use scrollbar-gutter for now, since position:fixed elements don't respect it, and gets cut off behind the scrollbar
  //scrollbar-gutter: stable; // prevents layout shifts, by making sure the scrollbar still takes up width, even if overflow:hidden; is set
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  overscroll-behavior-y: none; // Disables pull-to-refresh and overscroll glow effect. Still keeps swipe navigations. https://developers.google.com/web/updates/2017/11/overscroll-behavior
}
