@use 'sass:math';

label {
  @extend .text-uppercase;
  @extend .fw-bold;
  display: inline-block;
  max-width: 100%;
  margin-bottom: math.div($default-spacing, 4);
  font-size: 0.875rem;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='number'],
input[type='password'],
input[type='date'],
input[type='datetime-local'],
input[type='time'],
input[type='week'],
input[type='color'],
input[type='url'],
input[type='file'],
input[type='tel'],
select,
textarea {
  padding: math.div($default-spacing, 2) + 2 $default-spacing;
  min-height: $min-touch-target-size;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid $gray-300;
  background-color: $white;
  outline: 0;
  transition: box-shadow 0.15s ease-out;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-sm;
  font-size: 16px; // prevent IOS zoom

  &:focus {
    box-shadow: 0 0 0 2px rgba($gray-700, 0.25);
  }

  &::placeholder {
    color: $gray-500;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: 0.78;

    &::file-selector-button {
      background-color: $gray-500;
      color: inherit;
    }
  }

  // validation colors
  &[aria-invalid='true'] {
    border-color: $brand-danger;
    color: $brand-danger;

    // &::placeholder {}
  }

  // rounded style override
  &.rounded {
    border-radius: 100px;
    padding-left: $default-spacing * 1.25;
    padding-right: $default-spacing * 1.25;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='file'] {
  padding-left: $default-spacing - 6px;

  &::file-selector-button {
    cursor: pointer;
    border: 0;
    padding: 0.475em 1.15em;
    border-radius: $border-radius-base;
    background-color: $brand-primary;
    color: $brand-primary-bg__text-color;
    transition: 0.2s ease-out;
    font-family: inherit;
    margin-right: math.div($default-spacing, 2);
    &:hover {
      background-color: $brand-primary-dark;
    }
  }
}

input[type='password'] {
  letter-spacing: 0.2rem;

  &::placeholder {
    letter-spacing: initial;
  }
}

input[type='search'] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

select {
  $select-arrow-color: #000000; // TODO: nicer color
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{rgba($select-arrow-color, 1)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
  padding-right: calc(#{$default-spacing} + 24px);
}

textarea {
  resize: vertical;
  min-height: 5rem;
}

// checkbox/radio
input[type='radio'],
input[type='checkbox']:not([role='switch']) {
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid $gray-300;
  border-radius: 0;
  outline: none;
  transition-duration: 0.3s;
  background-color: $white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  box-shadow: $box-shadow-sm;

  &:focus {
    box-shadow: 0 0 0 2px rgba($gray-700, 0.25);
  }

  &:checked {
    border-color: $brand-primary;
    background-color: $brand-primary;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }

  &::after {
    display: none;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: 0.78;

    &:checked {
      opacity: 0.58;
    }
  }

  // validation colors
  &[aria-invalid='true'] {
    border-color: $brand-danger;

    &:checked {
      border-color: $brand-danger;
    }
  }
}

// checkbox
input[type='checkbox']:not([role='switch']) {
  &:checked::before {
    width: 8px;
    height: 16px;
    border-right: 2px solid $brand-primary-bg__text-color;
    border-bottom: 2px solid $brand-primary-bg__text-color;
    transform: translate(-50%, -63%) rotate(45deg);
  }
}

// radio
input[type='radio'] {
  border-radius: 50%;

  &:checked::before {
    width: 8px;
    height: 8px;
    background-color: $brand-primary-bg__text-color;
    border-radius: 50%;
  }
}

// switch
input[type='checkbox'][role='switch'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 44px;
  height: 22px;
  position: relative;
  display: inline-block;
  background-color: $gray-300;
  transition: background-color 0.2s;
  border-radius: 24px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: $white;
    transition: transform 0.2s;
    border-radius: 50%;
  }

  &:checked {
    background-color: $brand-primary;
    &::before {
      transform: translateX(22px);
    }
  }

  // validation colors
  &[aria-invalid='true'] {
    background-color: $brand-danger;
    &:checked {
      background-color: $brand-danger;
    }
  }
}

// TODO
// slider
// switch invalid state and focus state
// better text input disabled state
// autogrowing textarea
// browser test

// https://github.com/picocss/pico/blob/master/scss/content/_form-alt-input-types.scss
input[type='range'] {
  // Config
  $height-track: 0.25rem;
  $height-thumb: 1.25rem;
  $border-thumb: 2px;
  --range-border-color: #d5dce2;
  --range-thumb-border-color: $body-bg;
  --range-thumb-color: #596b78;
  --range-active-border-color: #bbc6ce;
  --range-thumb-hover-color: #415462;
  --range-thumb-active-color: #1095c1;

  // Styles
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: $height-thumb;
  background: transparent;

  // Slider Track
  @mixin slider-track {
    width: 100%;
    height: $height-track;
    border-radius: 100px;
    background-color: var(--range-border-color);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  &::-webkit-slider-runnable-track {
    @include slider-track;
  }

  &::-moz-range-track {
    @include slider-track;
  }

  &::-ms-track {
    @include slider-track;
  }

  // Slider Thumb
  @mixin slider-thumb {
    -webkit-appearance: none;
    width: $height-thumb;
    height: $height-thumb;
    margin-top: #{(-($height-thumb * 0.5) + ($height-track * 0.5))};
    border: $border-thumb solid var(--range-thumb-border-color);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  &::-webkit-slider-thumb {
    @include slider-thumb;
  }

  &::-moz-range-thumb {
    @include slider-thumb;
  }

  &::-ms-thumb {
    @include slider-thumb;
  }

  &:hover,
  &:focus {
    --range-border-color: var(--range-active-border-color);
    --range-thumb-color: var(--range-thumb-hover-color);
  }

  &:active {
    --range-thumb-color: var(--range-thumb-active-color);

    // Slider Thumb
    &::-webkit-slider-thumb {
      transform: scale(1.25);
    }

    &::-moz-range-thumb {
      transform: scale(1.25);
    }

    &::-ms-thumb {
      transform: scale(1.25);
    }
  }
}
