// standard css transitions
.fade-up {
  animation: reveal 0.4s ease-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  33% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// vue transitions
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 0.2s ease-out;
}
.fade-leave-active {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(10px);
}
.slide-up-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
}
.slide-up-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(10px);
}

.slide-down-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}
.slide-down-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
}
.slide-down-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
}

// route transitions
.route-primary {
  &-enter-from {
    opacity: 0;
    transform: scale(0.97);
    // transform-origin: 90% top;
  }
  &-enter-active {
    transition: opacity 0.075s ease-out, transform 0.075s ease-out;
  }

  &-leave {
    &-active {
      transition: opacity 0.075s ease-out;
      opacity: 0;
    }
  }
}

.router-slide-mobile-left-enter-from {
  transform: translateX(100%);
  will-change: transform, opacity;
}
.router-slide-mobile-left-enter-active {
  transition: opacity 0.15s ease-out, transform 0.3s $ease-out-cubic-ish;
  background-color: $body-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.router-slide-mobile-left-leave-active {
  transition: opacity 0.15s ease-out, transform 0.3s $ease-out-cubic-ish;
  will-change: transform, opacity;
  transform: translateX(-20%);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.router-slide-mobile-left-leave-to {
  &::after {
    opacity: 0.3;
  }
}

.router-fade-left-enter-from {
  opacity: 0;
  transform: translateX(-16px);
}
.router-fade-left-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s $ease-out-cubic-ish;
}
.router-fade-left-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateX(16px);
}

.router-fade-left-fast-enter-from {
  opacity: 0;
  transform: translateX(-16px);
}
.router-fade-left-fast-enter-active {
  transition: opacity 0.1s ease-out, transform 0.1s $ease-out-cubic-ish;
}
.router-fade-left-fast-leave-active {
  transition: opacity 0.1s ease-out, transform 0.1s ease-in-out;
  opacity: 0;
  transform: translateX(16px);
}

.router-fade-right-fast-enter-from {
  opacity: 0;
  transform: translateX(16px);
}
.router-fade-right-fast-enter-active {
  transition: opacity 0.1s ease-out, transform 0.1s $ease-out-cubic-ish;
}
.router-fade-right-fast-leave-active {
  transition: opacity 0.1s ease-out, transform 0.1s ease-in-out;
  opacity: 0;
  transform: translateX(-16px);
}

.router-fade-right-enter-from {
  opacity: 0;
  transform: translateX(16px);
}
.router-fade-right-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s $ease-out-cubic-ish;
}
.router-fade-right-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateX(-16px);
}
