$border-width-small: 1px;
$border-width-base: 2px;
$border-width-large: 4px;

// Radius
$border-radius-base: 0.5rem !default;
$border-radius-large: 0.5rem !default;
$border-radius-small: 0.35rem !default;
