//transitions
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-out-cubic-ish: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);

// more at https://easings.net/en#
