$default-spacing: 16px;

$min-touch-target-size: 48px;
$micro-touch-target-size: 32px; // very small buttons. Use sparringly and make sure that atleast either the x axis or y axis is the $min-touch-target-size;

$icon-size-large: 32px;
$icon-size-default: 24px;
$icon-size-small: 18px;

// navigation
$nav-height: 60px;

// forms
$forms-icons-width: 19px;
